.hwlink1 {
    text-align: right;
    margin-right: 2%;
    color: #ccc;
} 

#hwlink2 {
    color: #ccc;
}

#hwnavbar {
    background: teal;
    color: white;
    padding: 10px;
    margin-left: 2%;
}

#hwtopfixednavbar {
    padding: 0%;
    background-color: white!important;
}

body {
    background-image: url('../assets/images/pattern.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.fixed-bottom {
    background-color: darkgray!important;
    
}

#hwbottomtext {
    text-align: center;
}

.navbar-light .navbar-brand {
    margin: auto;
    font-size: 10px;
}

.fixed-bottom {
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: teal;
}

#hwnavbarbrand {
    color: white;
}

