.hwlink1 {
    text-align: right;
    margin-right: 2%;
    color: #ccc;
} 

#hwlink2 {
    color: #ccc;
}

#hwnavbar {
    background: teal;
    color: white;
    padding: 10px;
    margin-left: 2%;
}

#hwtopfixednavbar {
    padding: 0%;
    background-color: white!important;
}

body {
    background-image: url('../images/pattern.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

.fixed-bottom {
    background-color: darkgray!important;
    
}

#hwbottomtext {
    text-align: center;
}

.navbar-light .navbar-brand {
    margin: auto;
    font-size: 10px;
}

.fixed-bottom {
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: teal;
}

#hwnavbarbrand {
    color: white;
}

#hwabout {
    margin: 100px 0 75px 0;
    background-color: white;
}
#iamp {
    float: left;
    margin: 5px 10px 0 0;
}
#header2 {
    color: teal;
    
}

#line2 {
    background-color: lightgray;
    height: 3px;
    margin-bottom: 5px;
}

#submitbutton {
    background-color: teal;
    color: white;
    height: 25px;
    padding: 5px 15px 30px 15px;
    margin-bottom: 20px;
}


